
<div class="modal fade" id="createPost" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Post a question</h4>
            </div><!--/.modal-header-->
            <div class="modal-body">
                <form role="form" action="~/Question/CreateQuestion/" method="POST" class="form-horizontal" id="post">
                    <input type="hidden" name="groupID" value="@ViewBag.groupID" />
                    <input type="hidden" name="categoryID" value="1" />
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="name" id="PostName" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="PostBody" rows="4" name="body"></textarea>
                        </div>
                    </div>
                </form>
            <div class="clearfix"></div>
            </div><!-- /modal-body -->
            <div class="clearfix"></div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" href="javascript:void()" onclick="document.getElementById('post').submit();">Post question</a>
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div><!--/.modal content-->
</div><!--/.modal-dialog-->