<div class="modal fade" id="createGroup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create a group</h4>
            </div><!--/.modal-header-->
            <div class="modal-body">
                <form role="form" action="~/Group/CreateGroup" method="POST" class="form-horizontal" id="groupForm">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="groupName" id="nameBox" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="4" name="description" id="descriptionBox"></textarea>
                        </div>
                    </div>
                    <p id="alertMessage" style="color:red"></p>
                </form>
                <div class="clearfix"></div>
            </div><!-- /modal-body -->
            <div class="clearfix"></div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="#" onclick="CheckCreateGroup();">Create group</a>
                <a class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div><!--/.modal content-->
</div><!--/.modal-dialog-->

<script>
    // javascript to check if the boxes or empty.
    function CheckCreateGroup() {
        if (($("#nameBox").val() === '' ) || ($("#descriptionBox").val() === '')) {
            $("#alertMessage").html("Please fill in all the boxes.");
        }
        else {
            $("#alertMessage").html("");
            $('#groupForm').submit();
            $('#createGroup').modal('toggle');
        }
    }
</script>
