@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <button class="btn" type="button" id="buttonProfile">Username <span class="badge" id="headerNotification">42</span></button>
    <button class="btn" type="button" id="buttonGroup">Group</button>
           
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
            
            <button class="btn glyphicon glyphicon-log-out" id="buttonLogOut" type="button" onclick="javascript:document.getElementById('logoutForm').submit()"></button>
    }
}
else
{

    <a href="@Url.Action("Register","Account")"><button class="btn" id="buttonRegister">Register</button></a>
    <a href="@Url.Action("Login","Account")"><button class="btn glyphicon glyphicon-log-in" id="buttonLogIn"></button></a>
}
