
@{
    ViewBag.Title = "UserFeed";
}

<div class="row">
    <!-- user profile starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    lommi

                </h3>
            </div>

            <div class="panel-body">
                <div class="end"></div>

                <div class="textholder post profile">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="authorinfo">
                        <h4>lommi</h4>
                        <div class="authorscore">
                            <span class="badge">
                                <span class="glyphicon glyphicon-console">
                                </span> 500
                            </span>
                        </div>
                        <!-- author score ends -->
                    </div>


                    <div class="description">I am a CS student at HR, visit my website at http://www.lommi.is and I enjoy being with girls while I code heavily in C++ this I love I really love that I really need to say more that is great great great that is very nice</div>
                    <div class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-ok"> </span> Follow</button>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-default">Followers <span class="badge"> 45</span></button>
                        <button class="btn btn-default">Following <span class="badge"> 20</span></button>
                    </div>
                </div>
            </div>
            <div class="end"></div>


        </div>
    </div>
</div>
<!-- user profile ends -->
    <!-- Top Question starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Top Questions

                </h3>
            </div>
            <div class="panel-body">
                <div class="topitem postquestion" id="topquestion1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
                <!-- end example -->
                <div class="topitem postquestion" id="topquestion2">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Top Question ends -->
    <!-- Top Users starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Top Users

                </h3>
            </div>
            <div class="panel-body">
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>
                <div class="userthumb postuser">
                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    <br /> lommi geggege lommi lommi lommi lommi
                </div>

            </div>
        </div>


        <!-- Top Users ends -->

    </div>
