
@{
    ViewBag.Title = "GroupHelper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GroupHelper</h2>

    <div class="alert alert-danger" role="alert">@ViewBag.Message</div>

<p>How to create/modify/view groups!</p>