@{
    ViewBag.Title = "UserHelper";
}

<div class="col-sm-6">
    <div class="panel panel-primary errormsg">

        <div class="panel-heading">
            <h3 id="panel-title" class="panel-title">

                User not found

            </h3>
        </div>
        <div class="panel-body">
            <div class="topitem postquestion">
                <div class="imgholder">
                    <img src="~/images/question.png" alt="Question photo"/>
                </div>
                <div class="textholder" style="overflow: hidden; height: 60px;">
                    <h4>The question cannot be found. </h4>
                </div>
            </div>
        </div>
    </div>
