@{
    ViewBag.Title = "ViewQuestion";
}

<!-- Question starts -->
<div class="col-sm-2">
    </div>

    <div class="col-sm-6">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Class error

                </h3>
            </div>
            <div class="panel-body">

                <div class="textholder post">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="authorinfo">
                        <h4>
                            lommi
                            <!-- author score starts -->
                            <span class="notimportant">asked:</span>
                        </h4>
                        <div class="authorscore">
                            <span class="badge">
                                <span class="glyphicon glyphicon-console">
                                </span> 500
                            </span>
                        </div>
                        <!-- author score ends -->

                    </div>
                    <div class="postinfo">
                        <span class="notimportant">question posted:</span> 25/12/2015

                    </div>
                    <div class="end">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla justo et diam pretium, eget viverra libero tristique. Vivamus hendrerit accumsan nulla in vehicula. Aliquam sed mauris eget ipsum suscipit semper. Maecenas velit leo, hendrerit id rutrum ac, cursus eu magna. Donec condimentum posuere enim, sed porttitor leo auctor a. Sed in cursus sem. Cras facilisis leo sit amet purus cursus, sed iaculis neque congue. Cras sed lectus ante. Etiam tempus rutrum commodo. Duis sit amet tristique purus, sed interdum quam. Vestibulum quis convallis purus. Vestibulum scelerisque blandit risus, ut sagittis lacus pulvinar sed. Duis sed cursus nulla. Mauris elit urna, tincidunt ut erat vel, faucibus rutrum sapien. Praesent sed est porta, interdum ligula nec, pulvinar purus.
                        <div class="postfooter">
                            <div class="leftbutton">
                                <button class="btn btn-default">Reply</button>
                            </div>
                            <div class="coolpost rightbutton"><span class="glyphicon glyphicon-thumbs-up badge"> 42</span> </div>
                        </div>
                        <div class="endfooter">&nbsp;</div>
                    </div>

                </div>
                <!-- Responses start-->
                <h4 class="responses">Responses</h4>
                <!-- Answer test starts -->
                <div class="col-sm-12">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 id="panel-title" class="panel-title">

                                Class error

                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="textholder post">
                                <div class="imgholder">
                                    <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                                </div>
                                <div class="authorinfo">
                                    <h4>
                                        lommi
                                        <!-- author score starts -->
                                        <span class="notimportant">answered:</span>
                                    </h4>
                                    <div class="authorscore">
                                        <span class="badge">
                                            <span class="glyphicon glyphicon-console">
                                            </span> 500
                                        </span>
                                    </div>
                                    <!-- author score ends -->

                                </div>
                                <div class="postinfo">
                                    <span class="notimportant">answer posted:</span> 25/12/2015

                                </div>
                                <div class="end">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla justo et diam pretium, eget viverra libero tristique. Vivamus hendrerit accumsan nulla in vehicula. Aliquam sed mauris eget ipsum suscipit semper. Maecenas velit leo, hendrerit id rutrum ac, cursus eu magna. Donec condimentum posuere enim, sed porttitor leo auctor a. Sed in cursus sem. Cras facilisis leo sit amet purus cursus, sed iaculis neque congue. Cras sed lectus ante. Etiam tempus rutrum commodo. Duis sit amet tristique purus, sed interdum quam. Vestibulum quis convallis purus. Vestibulum scelerisque blandit risus, ut sagittis lacus pulvinar sed. Duis sed cursus nulla. Mauris elit urna, tincidunt ut erat vel, faucibus rutrum sapien. Praesent sed est porta, interdum ligula nec, pulvinar purus.
                                    <div class="postfooter">
                                        <div class="coolpost rightbutton"><span class="glyphicon glyphicon-thumbs-up badge"> 42</span> </div>
                                    </div>
                                    <div class="endfooter">&nbsp;</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Question test ends -->
