@model Sozialheap.Models.ViewModels.FeedView
@{
    ViewBag.Title = "Home Page";
}
<!-- Content starts -->
<div class="row">
    <!-- Top Question starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary question">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Top Questions

                </h3>
            </div>
            <div class="panel-body">
               
                <div class="topitem postquestion" id="topquestion1">
                    <div class="imgholder">
                        <img src="~/images/anonymous_user.png" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
                
                <!-- end example -->
                <div class="topitem postquestion" id="topquestion2">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Question ends -->

    

    <!-- Newest Questions starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary question">

            <div class="panel-heading" >
                <h3 id="panel-title" class="panel-title">

                    Newest Questions

                </h3>
            </div>
            <div class="panel-body">
                <div class="topitem postquestion" id="topquestion1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
                <!-- end example -->
                <div class="topitem postquestion" id="topquestion2">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Newest Questions  ends -->

    

    <!-- Featured groups starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary group">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Featured groups

                </h3>
            </div>
            <div class="panel-body">
                <div class="topitem postgroup" id="topgroup1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
                <!-- end example -->
                <div class="topitem postgroup" id="topgroup1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Featured groups  ends -->

    <!-- Suggested groups starts -->
    <div class="col-sm-6">
        <div class="panel panel-primary group">

            <div class="panel-heading">
                <h3 id="panel-title" class="panel-title">

                    Suggested groups

                </h3>
            </div>
            <div class="panel-body">
                <div class="topitem postgroup" id="topgroup1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>
                <!-- end example -->
                <div class="topitem postgroup" id="topgroup1">
                    <div class="imgholder">
                        <img src="https://pbs.twimg.com/profile_images/486509703564771329/SM9Jy_c3_bigger.jpeg" />
                    </div>
                    <div class="textholder">
                        <h4>Class error</h4> <span class="notimportant">posted in </span><a href="#">java</a><br />
                        There is something wrong with java when I…
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Suggested groups  ends -->
</div>
<!-- Content ends -->