<h5>SozialHeap v1.0</h5>
<p>SozialHeap is a social-oriented programmers source of information. Users can ask and answer questions and get notifications on top of the page when they receive answers.</p>
<p>The system is a project for the course "Verklegt námskeið 2" in Reykjavik University.</p>
<br />  
<h4>Team</h4>
<div class="tableStyle">
    <table align="center">
        <tr>
            <td>Guðmundur F Jónsson</td>
            <td >Ísleifur M Jónsson</td>
        </tr>
        <tr>
            <td class="email"><a href="mailto:gudmundurf@ru.is">gudmundurf@ru.is</a></td>
            <td class="email"><a href="mailto:leifur@isleifur.is">isleifur14@ru.is</a></td>
        </tr>
        <tr>
            <td>Jón Örn Arnarson</td>
            <td>Lárus K Jóhannsson</td>
        </tr>
        <tr>
            <td class="email"><a href="mailto:jonoa14@ru.is">jonoa@ru.is</a></td>
            <td class="email"><a href="mailto:larus14@ru.is">larus14@ru.is</a></td>
        </tr>
        <tr>
            <td colspan="2">Vilhjálmur K Ingþórsson</td>
        </tr>
        <tr>
            <td colspan="2" class="email"><a href="mailto:vilhjalmuri14@ru.is">vilhjalmuri14@ru.is</a></td>
        </tr>
    </table>
</div>
