
<h3>System information</h3>
<h5>SozialHeap v1.0</h5>
<p>SozialHeap is a social-oriented programmers source of information. Users can ask and answer questions and get notifications on top of the page when they receive answers.</p>
<p>The system is a project for the course "Verklegt námskeið 2" in Reykjavik University.</p>
<h4>Team:</h4>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>email</th>
        </tr>
        
    </thead>
    <tr>
        <td>Guðmundur F Jónsson</td>
        <td>gudmundurf@ru.is</td>
    </tr>
    <tr>
        <td>Guðmundur F Jónsson</td>
        <td>gudmundurf@ru.is</td>
    </tr>
    <tr>
        <td>Guðmundur F Jónsson</td>
        <td>gudmundurf@ru.is</td>
    </tr>
    <tr>
        <td>Guðmundur F Jónsson</td>
        <td>gudmundurf@ru.is</td>
    </tr>
    <tr>
        <td>Guðmundur F Jónsson</td>
        <td>gudmundurf@ru.is</td>
    </tr>
</table>
