
#question {
    position: relative;
    margin: auto;
    text-align: start;
    width: auto;
    max-width: 600px;
}

.post .postfooter {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post {
    padding-bottom: 0px;
}

.post .postfooter .leftbutton {
    margin-top: 10px;
}

.post .postfooter .rightbutton {
    margin-top: 10px;
}

.post .postinfo {
    margin-top: 10px;
}

.post .end {
    padding-top: 10px;
}

.questionbox {
    margin-top: -25px;
    margin-bottom: 50px;
}