body
{
    padding-bottom:80px;
    margin-bottom: 80px; 
    height: 100%;
}

form
{
    display: inline;
}

.hidden
{
    visibility: hidden;
}

.notimportant
{
    color: #ccc;
}

.end
{
  clear: both;
}

/* make links */
.postquestion, 
.postgroup,
.postuser
{
    cursor: pointer;
}


/* main starts*/ 

#main
{
  margin-top: 2em;
}

#main .panel-body
{
  padding: 0;
}


/* post start */
.post
{
  padding-right: 60px; 
  padding-left: 30px; 
  padding-bottom: 30px; 
  padding-top: 10px;
  border-bottom-width: 1px; 
  border-bottom-color: #ccc;    
  border-bottom-style: solid; 
  margin-bottom: 2em;
}

.post .imgholder
{
  float: left;
}

.post .authorinfo
{
  float:left; 
  margin-left: 1em;
}

.post .authorscore
{
  position: relative; 
  top: -5px; 
}

.post .authorscore .badge
{
  font-size: 14px;
}

.post .postinfo
{
  float: right; 
  margin-top:55px; 
  margin-bottom: 20px;
}


/* post footer starts */
.post .postfooter .leftbutton
{
  float: left; 
  margin-top: 2em;
}

.post .postfooter .rightbutton
{
  float: right; 
  margin-top: 2em;
}
.post .postfooter .coolpost span
{
  font-size: 14px;
}
.post .endfooter
{
  height: 2em; 
  margin-bottom: 2em;
}

/* post footer ends */

/* post responses start */
.responses
{
  padding-left: 15px; 
  padding-bottom: 15px;
} 
/* post responses end */ 
/* top item start */
.topitem
{
padding-top: 10px;
padding-bottom: 10px; 
margin: 0;
border-bottom-width: 1px; 
border-bottom-color: #ccc;    
border-bottom-style: solid; 
height: 75px;
position: relative;
}

.topitem:hover
{
  background-color: #ddd;
}

.topitem .imgholder
{
  width: 64px; 
  overflow: hidden; 
  height: auto; 
  float: left; 
  margin-right: 2em;
  padding-left: 10px;
}

.topitem .imgholder img
{
  width: 54px; 
  height: auto;
}

.topitem .textholder
{
  margin-left: 1em;
  padding-right: 10px;
  height: 60px;
  overflow: hidden;
}
.topitem .textholder h4
{
  margin-bottom: 0; 
  display: inline;
}
.topitem .textholder span
{
  /* color: #ccc; */
}

/* main ends */ 

/* header starts */ 

.title{
  font-family: 'lineal_simples_stregular';
  margin: 0;
  /* margin-left: 2em; */ 
}

#headerButtons a,
#headerButtons a:visited,
#headerButtons a:active,
#headerButtons a:link
{
    color: #000;
}

/* TODO: MAKE TITLE HOVER SEXY */
.title a,
.title a:visited,
.title a:active,
.title a:link,
.title a:hover
{
    color: #000;
    text-decoration: none;
}


#headerButtons, #headerSearch
{
  text-align:right;
}

.headerExtra
{
	top: 5px;
	margin-bottom: 1em;
} 

.headerExtra .glyphicon
{
	margin-top: 0;
	position: static;
}

.searchbutton
{
	height: 34px;
}

/* header ends */

/* footer starts */
footer
{
 position: absolute;
 bottom: 0px;
 display: none;
}
/* profile start */
.profile
{
  border-bottom-width: 0px; 
}

.profile .authorinfo 
{
}

.profile .buttons
{
  float: right; 
  margin-right: 2em; 
}
.profile .description
{
  float: left; 
  margin-left: 1em;
  margin-top: 20px; 
  margin-bottom: 20px;
  max-width: 420px;
  
}
.profile .button
{
  float: left; 
  margin-left: 10px; 
  margin-bottom: 20px; 
}

/* profile end */

.userthumb
{
width: 94px; 
  overflow: hidden; 
  height: auto; 
  float: left; 
  margin-right: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
height: 75px;
}


.userthumb img
{
  width: 54px; 
  height: auto;
}

/*  search start */
        /* search ends*/
        /* colors */
        .question
        {
            border-color: #466675;
        }
        .questionbutton
        {
            border-color: #466675;
            background: #466675;
            margin-bottom: 20px;
            color: #fff;
            float: right;
        }
        .question .panel-heading
        {
            background: #466675;
            border-color: #466675;
        
        }
        .answer
        {
            border-color: #6A8D9D;
        }
        .answer .panel-heading
        {
            background: #6A8D9D;
            border-color: #6A8D9D;

        }

        .group
        {
            border-color: #4E7182;
        }

        
        .group .panel-heading,
        .group.btn
        {
            background: #4E7182;
            border-color: #4E7182;
        }

        .group.btn:hover
        {
            background: #7CB3CE;
            border-color: #7CB3CE;
        }
        .user 
        {
            border-color: #5461a8;
            
            
        }
        .user.btn,
        .user .panel-heading
        {
            background: #5461A8;
            border-color: #5461a8;

        }
        .user.btn,
        .group.btn
        {
            color: #fff;
        }

        .user .badge
        {
            background: #93A2F4;
        }
        .user.btn:hover
        {
            background: #7a8df4;
            border-color: #7a8df4;
        }

        .panel-heading
        {
            
        }

        .panel-title
        {
            font-family: "lineal_simples_stregular";
            color: #e5f7ff;
            text-align: right;
            font-size: 12px;
        }

        .modal-title
        {
            font-family: "lineal_simples_stregular", "sans-serif";
            
        }

        /* Question starts */
        .questionbox
        {
            width:100%; 
            margin-right: 30px; 
            margin-left: 30px;  
            margin-top: -2em;
            
        }
        .questionbox .info
        {
            float: left;  
            display: inline; 
            height: 20px;
        }
        .questionbox .cool
        {
            float: right; 
            display: inline; 
            height:20px; 
            margin-right: 80px;
        }

        .makedivlink
        {
            position: absolute; 
            width: 100%; 
            height: 100%; 
            top: 0; 
            left: 0; 
            z-index: 1;
        }
        
        .makedivlink
        {
            position: absolute; 
            width: 100%; 
            height: 100%; 
            top: 0; 
            left: 0; 
            z-index: 1;
        }

        .brutallink
        {
            position: relative; 
            color: #000;
            z-index: 2;
        }

        /* nofriends class*/
        .nofriends
        {
            margin: 20px 20px;
        }
        
        /* login logout class*/
        #buttonLogOut
        {
            background: #1B2D35;
            color: #fff;
        }

        #buttonRegister
        {
            background: #fff;
            color: #000;
            border-color: #ccc;
        }

        #buttonLogIn
        {
            background: #fff;
            color: #000;
            border-color: #ccc;
        }



        /* following // not following */

        .followed
        {
            margin-bottom: 0; 
        }


        .user.followed
        {
            background: #93a2f4;  
            border-color: #93a2f4;
        }

        .remove
        {
            background: #ec971f !important;
            border-color: #ec971f !important;
            color: #fff;
        }

        .user.add
        {
            background: #93a2f4 !important;
            border-color: #93a2f4 !important;
            color: #fff;
        }

        .group.add
        {
            background: #4e7182 !important;
            border-color: #4E7182 !important;
        }

        .add:visited,
        .add:active,
        .add:link
        {
            color: #fff;
        }

        .notfollowing
        {
            border-width: 1px;
            border-color: #000 !important;
            background: #fff !important;
        }

        .notfollowing:visited,
        .notfollowing:active,
        .notfollowing:link
        {
            color: #000;
        }

        /* columns*/
        
        .buttonLeftCol
        {
            float: left; 
            margin-left: 20px;
        }
        .buttonRightCol
        {
            float: right; 
            display: inline;
        }
        @media screen and (max-width: 600px) {
         .buttonLeftCol
         {
            margin-left: 20px;
          
        }
        .buttonRightCol {
            margin-top: 20px;
            margin-left: 20px;
            float: left;
            clear: left;            
            width: 150px;
            overflow: hidden;
        }

        .buttonRightCol .btn {
            float: left;
            clear; left;
            margin-top: 20px;
            
        }
         .buttonRightCol .btn:first-of-type {
            float: left;
            clear; left;
            margin-top: 0px;
            
        }
}